.container {
    overflow: scroll;
    overflow-x: hidden;
    width: 100vw;
    height: 90vh;
    // padding: 3rem;
    scroll-behavior: smooth;


    @media only screen and (max-width: $bp-medium) {
        height: 92vh;
        padding-top: 10rem;
    }

    // @media (min-width: $bp-large) {
    //     height: 90vh;
    // }

    // @media (width: $bp-large) {
    //     height: 92vh;
    // }

    // @media (max-width: 80.0rem) {
    //     height: 95vh;
    // }

    // @media (width: $bp-medium) {
    //     height: 93vh;
    // }
}

.content {

    height: 82vh;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    background: transparent;

}

.web-page {
    padding: 3rem;
}

.section-login {
    margin: 1rem auto;
    width: 80%;
}




// footer
.footer-data {
    padding: 5.0rem 0;
    background-color: #202124;
    color: #fff;
    background: $color-dark;
    height: auto;
    bottom: 0;
    position: relative;

    h3 {
        margin-top: 0;
        margin-bottom: 1.2rem;
        font-weight: bold;
        font-size: 1.6rem;
    }

    ul {
        padding: 0;
        list-style: none;
        line-height: 1.6;
        font-size: 1.4rem;
        margin-bottom: 0;

        a {
            color: inherit;
            text-decoration: none;
            opacity: 0.8;

            &:hover {
                opacity: 1;
            }
        }
    }
}

footer {
    display: block;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1.5rem;
    margin-left: -1.5rem;

    // @media (max-width: $bp-small) {
    //     align-items: center;
    //     flex-direction: column;
    // }
}

.footer-container {
    width: 100%;
    padding: 0 1.5rem;
    margin: 2rem;
    // @media (min-width: 576px) {
    //     max-width: 540px;
    // }

    // @media (min-width: 768px) {
    //     max-width: 720px;
    // }

    // @media (min-width: 992px) {
    //     max-width: 960px;
    // }

    // @media (min-width: 1200px) {
    //     max-width: 1180px;
    // }

    // @media (min-width: 1400px) {
    //     max-width: 1380px;
    // }

    // @media (min-width: 1600px) {
    //     max-width: 1580px;
    // }
}

.col-sm-4,
.col-md-3 {
    position: relative;
    width: 100%;
    min-height: .1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;

}


@media (min-width: 576px) {
    .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}


.footer-data .item.social {
    text-align: right;
}

@media (max-width:76.7rem) {
    .footer-data .item {
        text-align: center;
        padding-bottom: 2.0rem;
    }
}

@media (max-width: 76.8rem) {
    .footer-data .item.social {
        text-align: center;
    }
}

.footer-data .item.social>a {
    font-size: 2.4rem;
    width: 4.0rem;
    height: 4.0rem;
    line-height: 4.0rem;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: .1rem solid #ccc;
    margin-left: 1.0rem;
    margin-top: 2.2rem;
    color: inherit;
    opacity: 0.75;
}

.footer-data .item.social>a:hover {
    opacity: 0.9;
}

@media (max-width:99.1rem) {
    .footer-data .item.social>a {
        margin-top: 4.0rem;
    }
}

@media (max-width:76.7rem) {
    .footer-data .item.social>a {
        margin-top: 1.0rem;
    }
}

.footer-data .copyright {
    margin-top: 1.4rem;
    margin-bottom: 0;
    font-size: 1.3rem;
    opacity: 0.6;
}

.legal {
    font-size: 1.2rem;
    color: grey;
    text-align: right;
    margin-right: 10rem;
    padding: 2.5rem;
}

.l__link:link,
.l__link:visited {
    color: $color-white;
    background-color: $color-dark;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s;
}

.l__link:hover,
.l__link:active {
    color: $color-secondary;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3);
}