.container {
    overflow: scroll;
    overflow-x: hidden;
    width: 100vw;
    height: 90vh;
    // padding: 3rem;
    scroll-behavior: smooth;


    @media only screen and (max-width: $bp-medium) {
        height: 92vh;
        padding-top: 10rem;
    }

    @media only screen and (max-width: $bp-small) {
        padding-top: 7rem;
    }

    @media only screen and (max-width: $bp-smallest) {
        padding-top: 4rem;
    }

    // @media (min-width: $bp-large) {
    //     height: 90vh;
    // }

    // @media (width: $bp-large) {
    //     height: 92vh;
    // }

    // @media (max-width: 80.0rem) {
    //     height: 95vh;
    // }

    // @media (width: $bp-medium) {
    //     height: 93vh;
    // }
}

.content {

    height: 82vh;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    background: transparent;

}

.web-page {
    padding: 3rem;

    @media screen and (min-width: $bp-smallest) and (max-width: $bp-small) {
        height: 115rem;
    }

    // @media only screen and (max-width: $bp-small) {
    //     height: 105rem;
    // }

    // @media only screen and (max-width: $bp-small) {
    //     height: 105rem;
    // }
}

.section-login {
    margin: 1rem auto;
    width: 80%;

    &-login {
        width: 45%;
        margin-bottom: 10rem;

        @media (max-width: $bp-small) {
            width: 80%;
        }
    }
}