// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.contact-page {
    width: 85%;
    background: rgba($color-heading, .1);
    border-radius: 1rem;
    margin: 2rem auto;
    padding: 4rem ;
    // max-width: 1200px;
}

.contentt {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // margin-top: 15px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        height: 70%;
        width: 2px;
        right: -15px;
        top: 50%;
        transform: translateY(-50%);
        background: #afafb6;
    }

    // @media only screen and (max-width: $bp-large) {
    //     width: 25%;
    // }

}

.details {
    margin: 14px;
    text-align: center;
}

// .contentt .left-side .details i {
//     font-size: 30px;
//     color: #20932f;
//     margin-bottom: 10px;
// }

.topic {
    font-size: 18px;
    font-weight: 500;
    color: rgba($color-heading, 1);

}

.text-one,
.text-two {
    font-size: 1.4rem;
    color: rgba($color-heading, .753);
    // width: 120%;
}

.right-side {
    width: 75%;
    margin-left: 75px;
}

.topic-text {
    font-size: 23px;
    font-weight: 600;
    color: #3e2093;
}

.input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}


.message-box {
    min-height: 11rem;
    box-shadow: 0.5rem .5rem .7rem -.5rem $color-black;
    border-radius: 1rem;
    border: 1px solid rgba($color-black, .2);

}

.right-side .input-box textarea {
    padding-top: 6px;
}

.button {
    display: inline-block;
    margin-top: 12px;
}


@media only screen and (max-width: $bp-large) {
    .contact-page {
        width: 85%;
        // padding: 17rem 4rem 6rem;
        padding: 4rem 3rem;
    }

    .contact-page .contentt .right-side {
        width: 90%;
        margin-left: 55px;
    }
}

// @media only screen and (max-width: $bp-smallest) {
//     margin: 0 auto;
// }

@media (max-width: $bp-medium) {
    .contact-page {
        margin: 0 auto;
        height: 100%;
        // padding: 15rem 2rem 0;
        padding: 4rem 3rem;

    }

    .contact-page .contentt {
        flex-direction: column-reverse;
    }

    .contact-page .contentt .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .contact-page .contentt .left-side::before {
        display: none;
    }

    .contact-page .contentt .right-side {
        width: 100%;
        margin-left: 0;
    }
}