.img-w {
    width: 100%;
}



.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
    row-gap: 2.3rem;
    align-items: center;
    padding: 6rem;


    h1 {
        font-size: 6rem;
        font-weight: 600;
        color: black;

        span {
            color: $color-secondary ;
        }

    }

    h3 {
        font-size: $font-sub-heading;
        color: black;
    }

    p {
        line-height: 1.7;
        font-size: $font-sub-heading;
    }
}


.social {
    display: flex;
    flex-wrap: wrap;
    gap: 2.1rem;
    margin-top: 2.1rem;

    a {
        display: grid;
        place-items: center;
        text-decoration: none;
        color: #244D61;
        font-size: $font-heading;
        border: 1.6px solid #244D61;
        border-radius: 50%;
        padding: 0.39rem;
        text-align: center;

        // &:hover {
        //     color: #fff;
        //     background-color: #244D61;
        //     box-shadow: 0 0 20px #244D61;
        //     transition: all .2s ease-in-out;
        // }
        &:hover:nth-child(1) {
            color: #fff;
            background-color: #FFFC00;
            box-shadow: 0 0 20px #FFFC00;
            transition: all .2s ease-in-out;
            transform: scale(1.06);
            // border-radius: 50%;

        }

        &:hover:nth-child(2) {
            color: #fff;
            background-color: #e1306c;
            box-shadow: 0 0 20px #e1306c;
            transition: all .2s ease-in-out;
            transform: scale(1.06);
            // border-radius: 50%;

        }

        &:hover:nth-child(3) {
            color: #fff;
            background-color: #25D366;
            box-shadow: 0 0 20px #25D366;
            transition: all .2s ease-in-out;
            transform: scale(1.06);
            // border-radius: 50%;

        }

        &:hover:nth-child(4) {
            color: #fff;
            background-color: #CD201F;
            box-shadow: 0 0 20px #CD201F;
            transition: all .2s ease-in-out;
            transform: scale(1.06);
            // border-radius: 50%;

        }
    }

    &-1 {
        a {

            // github
            &:hover:nth-child(1) {
                color: #fff;
                background-color: #333;
                box-shadow: 0 0 20px #333;
                transition: all .2s ease-in-out;
                transform: scale(1.06);
                // border-radius: 50%;

            }

            //  netlify
            &:hover:nth-child(2) {
                color: #fff;
                background-color: #00b5b5;
                box-shadow: 0 0 20px #024742;
                transition: all .2s ease-in-out;
                transform: scale(1.06);
                // border-radius: 50%;

            }

            // facebook
            &:hover:nth-child(3) {
                color: #fff;
                background-color: #4267B2;
                box-shadow: 0 0 20px #4267B2;
                transition: all .2s ease-in-out;
                transform: scale(1.06);
                // border-radius: 50%;

            }

            // insta
            &:hover:nth-child(4) {
                color: #fff;
                background-color: #e1306c;
                box-shadow: 0 0 20px #e1306c;
                transition: all .2s ease-in-out;
                transform: scale(1.06);
                // border-radius: 50%;
            }

        }
    }
}




.images {
    width: 80%;
    margin-left: auto;
    position: relative;
    z-index: -1;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: calc(100% - 130px);
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        /* background: linear-gradient(145deg, #1e2024, #23272b); */
        /* box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e; */
        border-radius: 6px;
        z-index: -1;
    }

    &::before {
        background: linear-gradient(145deg, #e2e8ec, #ffffff);
        box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    }

}

@media screen and (max-width:600px) {

    .menu {
        display: block;
        font-size: $font-sub-heading;
        font-weight: bold;
        color: #244D61;
    }

    .images {
        width: 100%;
        margin: auto;
    }

    .main {
        margin-top: 2rem;
    }
}